 Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys
Write a Python program to map two lists into a dictionary
Write a Python program to sort a list alphabetically in a dictionary
input : {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
output : {'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}
1) Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys

In [1]:
x=dict()
for y in range(1,16):
    x[y]=y**2
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

2) Write a Python program to map two lists into a dictionary

In [2]:
students = ['tejaswini', 'nainekka', 'chandu', 'lalitha']
grades = ['9.8', '8.3', '6.9', 'Fail']
dictionary = dict(zip(students, grades))
print("Dictionary formed is:",dictionary)

Dictionary formed is: {'tejaswini': '9.8', 'nainekka': '8.3', 'chandu': '6.9', 'lalitha': 'Fail'}

3) Write a Python program to sort a list alphabetically in a dictionary

input : {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

output : {'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [3]:
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
sorted_dict = {x: sorted(y) for x, y in num.items()}
print(sorted_dict)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}